.container {
	background-color: #eeeeee;
	margin: 1.5rem 0 0 0;
	padding: 2rem 4rem;
	border-radius: 0.5rem 0.5rem 0 0;
	width: 75%;
	display: flex;
	flex-direction: column;
}
.instruction {
	font-size: 1.2rem;
	margin-bottom: 0.6rem;
}
.form {
	display: flex;
	align-items: flex-start;
	margin-bottom: 2rem;
}
.file {
	display: none;
}
.browse {
	background-color: #3578b2;
	padding: 0.4rem 1rem;
	color: white;
	border-radius: 0.4rem 0 0 0.4rem;
	cursor: pointer;
}
.file-name {
	width: 50%;
	background-color: white;
	padding: 0.4rem 1rem;
	border: 1px solid #ccc;
}
.import-btn {
	margin-left: 0.5rem;
	background-color: #f2f4f5;
	border-radius: 0.4rem;
	border: 1px solid #ccc;
	padding: 0.4rem 1rem;
	cursor: pointer;
	color: black;
}
/* uploading  */
.upload-check {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.header {
	font-size: 1.2rem;
}
.details {
	display: flex;
	gap: 0.6rem;
	align-items: center;
}
.current-file {
	font-size: 1.1rem;
	font-weight: 700;
}
.status {
	font-size: 1rem;
	font-weight: 400;
	color: gray;
}
.hr {
	width: 100%;
	background-color: #ccc;
	height: 2px;
}
